<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@menu.picture_url, width: "50%", height: "50%") %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @menu.ingredients %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @menu.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menu.price %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @menu.restaurant.name %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
