<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Foodora</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/small-business.css" rel="stylesheet">

  </head>

  <body>

    

    <!-- Page Content -->
    <div class="container">

      

      <!-- Form for address -->
    <form class="my-5">
      <input type="text" class="form-control" placeholder="Please enter your Address">
    </form>
      <!-- Content Row -->
      <div class="row my-5">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <%= link_to root_path do %>
                <%= image_tag "menu1.jpg", class: 'img-fluid' %>
            <% end %>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to "Little L North Bondi", root_path %>
              </h4>
              <h6> &#36;&#36; &middot; Burgers &middot; Americian &middot; Bargin</h6>
              <p class="card-text">Arby’s Restaurant is best known for its delicious sandwiches and burgers.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
             <%= link_to root_path do %>
                <%= image_tag "menu2.jpg", class: 'img-fluid' %>
            <% end %>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to "Chinta Kechil", root_path %>
              </h4>
              <h6> &#36; &middot; Seafood &middot; Italian</h6>
              <p class="card-text">Maxie’s Supper Club and Oyster Bar serves the best seafood particularly fresh fish</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
             <%= link_to root_path do %>
                <%= image_tag "menu3.jpg", class: 'img-fluid' %>
            <% end %>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to "JP McCaffrey's", root_path %>
              </h4>
              <h6> &#36;&#36;&#36; &middot; Steakhouse &middot; Grill &middot; Quick</h6>
              <p class="card-text">The Heart and Soul restaurant in UK offers its customers organic food being prepared in a simple manner in order to satisfy their customers.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
             <%= link_to root_path do %>
                <%= image_tag "menu4.jpg", class: 'img-fluid' %>
            <% end %>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to "Tokyo Tamari", root_path %>
              </h4>
              <h6> &#36;&#36;&#36; &middot; Japanese &middot; Quick Order</h6>
              <p class="card-text">The Ninety Nine Restaurant offers a great tasting menu to its customers.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
             <%= link_to root_path do %>
                <%= image_tag "menu6.jpg", class: 'img-fluid' %>
            <% end %>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to "Taste of Thai", root_path %>
              </h4>
              <h6> &#36;&#36; &middot; Thai &middot; Exotic</h6>
              <p class="card-text">Located near the majestic Gatineau Hills, Les Fougères Restaurant offers a country elegance and a magnificent view.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <%= link_to root_path do %>
                <%= image_tag "menu5.jpg", class: 'img-fluid' %>
            <% end %>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to "Ambrosia on the Spot", root_path %>
              </h4>
              <h6> &#36;&#36; &middot; Pizza &middot; Italian &middot; Quick</h6>
              <p class="card-text">Located in Florida, Tomasso’s Pizza & Subs is an Italian restaurant that offers the best in Italian food.</p>
            </div>
          </div>
        </div>
          <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
             <%= link_to root_path do %>
                <%= image_tag "menu7.jpg", class: 'img-fluid' %>
            <% end %>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to "Ollie's Kitchen", root_path %>
              </h4>
              <h6> &#36;&#36;&#36; &middot; Prawns &middot; Seafood</h6>
              <p class="card-text">Maxie’s Supper Club and Oyster Bar serves the best seafood particularly fresh fish, clams and oysters.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
             <%= link_to root_path do %>
                <%= image_tag "menu8.jpg", class: 'img-fluid' %>
            <% end %>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to "Zambrero Coogee", root_path %>
              </h4>
              <h6> &#36;&#36; &middot; Chinese &middot; Quick &middot; Bargin</h6>
              <p class="card-text">Culver’s Restaurant was founded by the Culver family in 1984, which eventually branched out to more than 300 franchised restaurants all over the US.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <%= link_to root_path do %>
                <%= image_tag "menu9.jpg", class: 'img-fluid' %>
            <% end %>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to "Rap N' Roll", root_path %>
              </h4>
              <h6> &#36;&#36; &middot; Steakhouse &middot; Canadian &middot; Quick</h6>
              <p class="card-text">Located in Canada, Brannigans Restaurant has seen 25 years of serving food especially to Victorians and tourists in British Columbia.</p>
            </div>
          </div>
        </div>
      </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer>
      
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
